
.sns-btn {
    display:inline-block;
    a {
        display: block;
        width:rem(320);
        line-height:rem(60);
        margin:rem(10) 0;
        font-size:rem(18);
        &.naver {
            background-color:#2db400;
            color:#fff;
        }
        &.kakao {
            background-color:#ffeb00;
            color:#3c1e1e;
        }
    }
}
.con-btn-wrap {
    text-align:center;
    .btn {
        width:rem(267);
        height:rem(60);
        line-height:rem(58);
        box-sizing: border-box;
        border-width:rem(1);
        border-style: solid;
    }
    .btn + .btn {
        margin-left:rem(5);
    }
    &.ea3 {
        .btn{
            width:rem(150);
        }
    }
}
.btn {
    display: inline-block;
    font-size:rem(16);
    text-align:center;
    &.btn-default {
        padding:0 rem(25);
        line-height:rem(43);
        border:rem(1) solid $border-gray-lighten;
        color:$default-color-lighten;
        background:$bg-gray2;
    }
    &.small {
        padding: 0 rem(17);
        line-height:rem(28);
        font-size:rem(13);
        background:$bg-gray3;
    }
    &.round {
        color:#4b4d51;
        padding:rem(7) rem(16) rem(6);
        border-radius:rem(16);
    }
    &.square {
        width:rem(165);
        height:rem(50);
        line-height:rem(50);
        box-sizing:border-box;
    }
    &.btn-icon {
        text-align:left;
        padding-left:rem(20);
        position:relative;
        span[class*='icon-'] {
            @include position-center-top;
            right:rem(20);
        }
    }
    &.line-gray {
        border:1px solid #e4e4e5;
        background:#fff;
    }
    &.btn-primary {
        background:$primary-color;
        border:rem(1) solid $primary-color;
        color:#fff;
    }
    &.btn-secondary {
        background:$secondary-color;
        border:rem(1) solid $secondary-color;
        color:#fff;
    }
    &.btn-line {
        border:rem(1) solid $primary-color;
        color:$primary-color;
        background:#fff;
    }
    &.btn-line-secondary {
        border:rem(1) solid $secondary-color;
        color:$secondary-color;
        background:#fff;
    }
    &.btn-basic {
        width:rem(267);
        height:rem(60);
        line-height:rem(58);
        box-sizing: border-box;
        border-width:rem(1);
        border-style: solid;
    }
    &.w100 {
        width:100%;
        font-size:rem(18);
    }
    &.w80 {
        width:rem(80);
        padding:0 ;
        line-height:rem(33);
    }
    &.half {
        width:calc(50% - #{rem(5)});
        font-size:rem(18);
    }
}